<h1>Listing Api Keys</h1>

<table border='1px'>
  <thead>
  <tr>
    <th>User Name</th>
    <th>Token</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= api_key.username %></td>
        <td><%= api_key.access_token %></td>
        <td><%= link_to 'Show', api_key %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'Sign Up Form',  api_keys_url  %>
<br>



